<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form name="frmSY" action="b.htm" method="post">
        <table cellpadding="0" border="1" width="300">
            <tr height="30">
                <td rowspan="2" width="20%">个人信息</td>
                <td width="30%">姓名</td>
                <td><input type="text" id="test" name="textName" value="张三" /> </td>
            </tr>
            <tr>
                <td>通信地址</td>
                <td><input type="text" id="123" name="txtaddress" value=""/></td>
            </tr>
        </table>
    </form>
</body>
</html>